[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git

[submodule "Research-Paper-Writing-Skills"]
	path = Research-Paper-Writing-Skills
	url = https://github.com/Master-cai/Research-Paper-Writing-Skills.git
